@import '../styles.scss';

.welcome {
    text-align: center;
    padding-top: 90px;
 
    h1 {
        padding: 20px 0 20px 0;
        font-size: 2.5em;
    }

    p {
        font-size: 1.3em;
        font-weight: 400;
        line-height: 2em;
        margin-bottom: 20px;
    }

    .continue-btn {
        background-color: $color1;
        display: inline-block;
        border-radius: 2.5rem;
        padding: 1rem;
        color: $color2;
        border: 0.2em $color1 solid;
        transition: 100ms ease;
        margin-top: 2.5rem;
        i {
            line-height: 0;
            padding: 0 .15em;
            font-weight: 900;
        }
        &:hover {
            cursor: pointer;
            color: $color1;
            background-color: transparent;
        }
    }

    .temp-svgs {
        width: 100%;
        height: 25rem;
        background: url(../img/devices.svg) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .welcome {
        .temp-svgs {
            background-size: 65%;
            height: 28.5rem;
        }
    }
}

@media only screen and (max-width: 425px) {
    .welcome {
        .temp-svgs {
            background-size: 100%;
            height: 15rem;
        }
    }
}

